<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Poller+One|Source+Sans+Pro" rel="stylesheet">
  </head>

  <body>
    <div>
      <h1>Movie Search Engine</h1>

      <form class='column' action='/' method='post'>
        <input type='text' class='search' name='search' placeholder="search for a movie"/><br>
        <input type='submit' name='submit' class='orange-button'/>
      </form>

      <div>
        <%if (search[0]) {%>
          <h2>Search results for <%=title%></h2>
          <%for (let i=0; i < search.length; i++) { %>
            <div class='row results'>
              <img src='<%=search[i].img %>'/>
              <h3> <%=search[i].name %> </h3>
              <h3> <%=search[i].year %> </h3>
            </div>
        <% } %>
      <% } %>
      </div>

    </div>

    <a href="/signout" class="logout">Sign Out</a>

  </body>
</html>
