<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    Welcome to Goovy!
    It's like Google...for movies
    <a href="/signup">
      <button>Sign Up</button>
    </a>
    <a href="/login">
      <button>Sign In</button>
    </a>
    <input
      type="text"
      value=""
      placeholder="search for a movie..."
    />
    <button>Search</button>
  </body>
</html>
