<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    Welcome to Goovy!
    It's like Google...for movies
    <input
      type="text"
      value=""
      placeholder="search for a movie..."
    />
    <button>Search</button>

    <a href="/signout">
      <button>Sign Out</button>
    </a>

  </body>
</html>
