<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Poller+One|Source+Sans+Pro" rel="stylesheet">
  </head>

  <body class="column">
    <h1>Movie Search Engine<h2>
    <div class="login column">
      <h2>Login</h2>
      <form class="column" action="/signin" method="post">
        Email:<br>
        <input type="text" name="email" class="orange-input">
        Password:<br>
        <input type="password" name="password" class="orange-input">
        <input type="submit" name="submit" class="orange-button">
      </form>
      <p>Need an account? Sign up here:</p>
      <a href='/signup'>
        <button class="orange-button">Sign Up </button>
      </a>
    </div>
  </body>
</html>
