<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Poller+One|Source+Sans+Pro" rel="stylesheet">
  </head>

  <body class="column">
    <h1>Movie Search Engine<h2>
    <div class="login column">
      <h2>Signup</h2>
      <form class="column" action="/signup" method="post">
        Name:<br>
        <input type="text" name="name" class="orange-input">
        Email:<br>
        <input type="text" name="email" class="orange-input">
        Password:<br>
        <input type="password" name="password" class="orange-input">
        Confirm password:<br>
        <input type="password" name="confirm" class="orange-input">
        <input type="submit" name="submit" class="orange-button">
      </form>
    </div>
  </body>
</html>
