body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #222;
}

h1{
  font-family: 'Poller One', sans-serif;
  font-size: 3em;
  padding: .5em;
  color: #f59d16;
}

div{
  justify-content: center;
}

form{
  display: flex;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.orange-button{
  color: #0b2b81;
  background-color: #f59d16;
  padding: 1em;
  margin: 1em;
  border: 4px outset #f59d16;
}

.search{
  width: 80%;
  padding: 1em;
  border: 4px outset #f59d16;
  color: #0b2b81;
  font-family: 'Source Sans Pro', sans-serif;
}

.login{
  background-color: #376ac5;
  border: 10px outset #f59d16;
  padding: 2em;
}

.logout{
  position: absolute;
  color: #f59d16;
  right: 1em;
  top: 1em;
}

.orange-input{
  background-color: #faffbd;
  border: 3px inset #f59d16;
  padding: 1em;
  margin: 1em;
}

.results{
  justify-content: space-around;
  width: 50vw;
}
