body,
html {
	margin: 0;
	background: #0e0f11;
	color: #ecf0f1;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
